@import "./variables";

#gui {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	user-select: none;
	font-family: 'myFont';
}

#players {
	position: absolute;
	top: 0;
	left: 0;

	.player {
		line-height: 30px;
		text-align: left;
		@extend .easeTransition;
		background: rgba(100, 100, 100, 0.1);
		border-right: 3px solid rgba(100, 100, 100, 0.2);
		border-bottom: 4px solid rgba(100, 100, 100, 0.2);
		margin-bottom: 4px;
		padding: 8px;

		&.dead {
			@extend .invisible;
		}

		&.loseLife {
			animation: loseLife 0.3s linear 1; 
		}

		&.grow {
			transform: scale(1.5);
		}

		&.shrink {
			transform: scale(0.1);	
		}

		strong, .items {
			display: inline-block;
			margin-left: 10px;
			font-size: 1.0em;
			@extend .easeTransition;
		}

		.items {
			min-width: 55px;

			.ammo {
				vertical-align: bottom;
				line-height: 30px;
				color: #000;
				font-size: 0.8em;
				margin-right: 3px;
				opacity: 0.5;
			}
		}

		.name {
			width: 185px;
		}

		.mass {
			margin-right: 3px;

			&.lowest {
				color: black;
			}

			&.low {
				color: red;
			}

			&.medium {
				color: orange;
			}

			&.high {
				color: $green;
			}
		}

		img {
			display: inline-block;
			height: 30px;
			width: 30px;
			vertical-align: middle;
			@extend .easeTransition;
		}
	}

	.invisible {
		opacity: 0.3;
	}

	.easeTransition {
	  transition: all 500ms;
	}
}

#message {
	position: absolute;
	top: 45%;
	width: 100%;
	text-align: center;
	z-index: 1000;
	font-size: 4.5em;
	opacity: 1.0;
	color: $mainFontColor;
	text-shadow: 3px 4px $mainBorder;
	transform: scale(0.5);
	transition: all 1s;

	&.grow {
		transform: scale(1.0);
	}
}

#victory {
	position: absolute;
	top: 45%;
	width: 100%;
	text-align: center;
	z-index: 1000;
	font-size: 4.5em;
	opacity: 1.0;
	color: $mainFontColor;
	text-shadow: 3px 4px $mainBorder;
	transition: all 1s;

	button {
		font-size: 0.5em;
		margin-top: 50px;
	}

	span {
		text-shadow: none;
		animation: bounce 0.4s alternate infinite;
	}
}

#gameIdInGame {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 100;
	font-size: 0.9em;
	color: $blue;
	text-shadow: 0px 0px 2px white;
}

.red {
	color: $red!important;
}

.green {
	color: $green!important;
}

.blue {
	color: $blue!important;
}

.yellow {
	color: $yellow!important;
}

@keyframes bounce {
  0% {
      transform: scale(1.0);
  }
  100% {
      transform: scale(0.9);
  }
}

@keyframes loseLife {
  0% {
      background: white;
  }
  100% {
      background: inherit;
  }
}
