@import "./variables";

#instructions {
	user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100;

	#credits, #startGameLayout, #controls {
		position: absolute;
	}

	#credits {
		font-family: 'myFont';
		right: 10px;
		bottom: 0px;
		text-align: right;
		color: $blue;
		text-shadow: 1px 2px $mainFontColor;
		line-height: 25px;
		font-size: 0.8em;

		.hidden {
			display: none;
		}

		&:hover > .hidden {
			display: block;
		}

		a {
			text-decoration: none;
			color: $greenBtn;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	#startGameLayout {
		width: 100%;
		bottom: 15px;

		button {
			font-size: 1.4em;	
		}
	}

	#controls {
		font-family: 'myFont';
		top: 0;
		right: 0;
		color: #111;

		.tile {
			background: rgba(210,230, 237, 0.85);
			border-left: 3px solid #bbccd2;
			border-bottom: 4px solid #bbccd2;
			margin-bottom: 4px;
			padding: 15px 20px;

			.title {
				margin-bottom: 10px;

				i {
					margin-right: 5px;
				}
			}

			small, p {
				font-size: 0.8em;
				line-height: 25px;
			}
		}

		#phonepads a {
			color: $blue;
		}

		.key {
			display: inline-block;
			height: 24px;
			width: 24px;
			line-height: 24px;
			background: $greenBtn;
			border: 2px solid #333;
			border-radius: 3px;

			&.attack {
				background: $red;
			}
		}

		#gamepads {

			.title {
				margin-bottom: 0px;
			}

			#commands {
				margin-top: 15px;

				div {
					display: inline-block;
					width: 30%;
					text-align: center;

					p {
						margin-bottom: 0px;
					}
				}
			}

			img {
				vertical-align: middle;
			}

			.button {
				display: block;
				height: 40px;
				width: 40px;
				line-height: 40px;
				border-radius: 100%;
				box-shadow: inset 0 0 4px 2px #333;
				margin-left: 35px;
				color: #111;

				&.buttonA {
					background: $greenBtn;
				}

				&.buttonB {
					background: $red;
				}
			}
		}

		.notCompatible {
			opacity: 0.3;
		}
	}

}

#switchMode {
	margin-top: 10px;
}
