#loading {
	position: relative;
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 1000;
	transition: all 500ms;

	&.invisible {
		opacity: 0;
	}

	.container {
		position: relative;
		top: 40%;
	}

	.ring {
		background: rgba(210,230, 237, 0.3);
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-top: 10px solid rgba(0,0,0,0);
    border-left: 10px solid rgba(0,0,0,0);
    border-radius: 100px;
    box-shadow: 0 0 35px #2187e7;
    margin: 0 auto;

    &:nth-child(1) {
    	width: 100px;
	    height: 100px;
	    animation: spin .7s infinite linear;
    }

    &:nth-child(2) {
    	background: rgba(0, 0, 0, 0);
    	width: 60px;
	    height: 60px;
	    position: relative;
	    top: -100px;
	    animation: spinoff .7s infinite linear;
		}
	}
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  };
}

@keyframes spinoff {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  };
}
