@import "compass";

@include font-face("myFont", font-files("font.ttf"));

.hide {
	display: none!important;
}

body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	text-align: center;
}

#viewport {
	left: 0px;
}

.bounce {
	animation: bounce 0.4s alternate infinite;
}

@keyframes bounce {
  0% {
      transform: scale(1.0);
  }
  100% {
      transform: scale(0.95);
  }
}

#loading {
	position: fixed;
	top: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.8;
	z-index: 1000;

	.container {
		padding-top: 100px;
	}

	.ring {
		background-color: rgba(0,0,0,0);
    border: 5px solid rgba(110, 163, 255,0.9);
    opacity: 0.9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    margin: 0 auto;

    &:nth-child(1) {
    	width: 50px;
	    height: 50px;
	    animation: spin .7s infinite linear;
    }

    &:nth-child(2) {
    	width: 30px;
	    height: 30px;
	    position: relative;
	    top: -50px;
	    animation: spinoff .7s infinite linear;
		}
	}
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  };
}

@keyframes spinoff {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  };
}
