@import "compass";

@include font-face("myFont", font-files("font.ttf"));

.hide {
	display: none!important;
}

body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	text-align: center;
}

#viewport {
	left: 0;
}

.bounce {
	animation: bounce 0.4s alternate infinite;
}



@keyframes bounce {
  0% {
      transform: scale(1.0);
  }
  100% {
      transform: scale(0.95);
  }
}
