@import "compass";
@import "./variables";

@include font-face("myFont", font-files("font.ttf"));

.hide {
	display: none!important;
}

body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	text-align: center;
}

#viewport {
	left: 0;
}

button {
	font-family: 'myFont';
	color: $mainFontColor;
	font-size: 1.0em;
	outline: 0;
	border: 0;
	padding: 25px 60px;
	background: $greenBtn;
	cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  text-shadow: 2px 3px $mainBorder;
  box-shadow: 0px -8px 0px 0px $greenBorderBtn inset;

  &:active {
    box-shadow: 0px -4px 0px 0px $greenBorderBtn inset;
		transform: translateY(2px);
  }
}
